# Node modules
node_modules/

# Build output
dist/

# Environment files
.env
.env.*.local
env/.env*
!env/.*.env.example

# Docker volumes
postgres_data/
redis_data/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Mac system files
.DS_Store

rest.http

env

